<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <div id="app" class="app">

    <div class="container clearfix">
      <div class="left float-left">
        <div class="header-top">
          <div class="user">
            <img :src="`img/avatar${user.avatar}.jpg`" alt="user.name">
            <span>{{user.name}}</span>
          </div>

          <div class="user-icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
      
        </div>

        <div class="notifications">
          <div class="img-notifications">
            <i class="far fa-bell-slash"></i>
          </div>
          <span> Ricevi notifiche nuovi messaggi<a href="#">Attiva notifiche desktop</a></span> 
        </div>

        <div class="container-input clearfix">
          <div class="icon float-left"><i class="fas fa-search"></i></div>

          <!-- con v-on:keyup parte la funzione ogni volta che digito un carattere, la funzione associa true o false alla variabile visible-->

          <!-- con v-model intercetto quello che digito aggiungendolo alla variabile newChat inizializzata come stringa vuota nei data  -->
          
          <input 
          v-on:keyup="showElement()"
          v-model= "newChat"
          class="ricerca-chat float-right" type="text" placeholder="Cerca o inizia una nuova chat">
        </div>

        <div  v-for="(contact, index) in contacts" 
        class="chat-list">
          <div class="chat-element"
          @click="choosenChat = index"
          v-bind:class="{ chatSelected: choosenChat === index }"
          v-if="contact.visible"
          >

          <!-- con @click rendo index uguale a choosenChat per comunicare quale chat è stata selezionata -->

          <!-- con il bind della classe aggiungo la classe chatSelected solo quando choosenChat corrisponde a index, cioè quando l'elemento viene cliccato -->

          <!-- con v-if rendo visibile ogni elemento solo se la mia condizione è vera -> condizione che viene modificata dalla funzione richiamata nell'input -->
          
          
            <div 
            class="user chat-list-user ">
              <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
             
              <div class="user-name">
                <span>{{contact.name}}</span>
                <span class="access">{{getLastMessage(index)}}</span>
              </div>
              <div class="data">
                <span>{{getLastDate(index)}}</span>
              </div>
              
            </div>


          </div>

        </div>

       
      </div>
      <div class="right float-right">
        <div class="header-top">
          <div class="user-chat">
            <div class="user">
              <img :src="`img/avatar${contacts[choosenChat].avatar}.jpg`" :alt="contacts[choosenChat].name">
              <div class="user-name">
                <span>{{ contacts[choosenChat].name }}</span>
                <span class="access">Ultimo accesso {{getLastDate(choosenChat)}}</span>
              </div>
              
            </div>

          </div>
          <div class="icon-chat">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>

          </div>
          
        </div>

        <div class="chat clearfix">


          <div v-for="message in contacts[choosenChat].messages" 
          class="msg" 
          :class="{inviated:(message.status==='sent'), received:(message.status==='received')}" 
          >
          
            <span>{{message.message}}</span>       
            <span class="span-date">{{message.date}}</span>           

          </div>


        </div>
        <div class="footer">
          <div class="smile">
            <i class="far fa-smile"></i>
          </div>

          <!-- con @keyup.enter faccio partire la funzione ogni volta che digito invio -->
          <input v-model= "newMessage"
          @keyup.enter="addMessage(choosenChat)"
          class="input-chat" type="text" placeholder="Scrivi un messaggio">

          <div class="mic">
            <i class="fas fa-microphone"></i>
          </div>
          
        </div>

      </div>

    </div>


  </div>




  <!-- dayjs - core -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script> -->

  <!-- dayjs - plug-in -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/customParseFormat.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/vue.js"></script>
  
</body>
</html>