*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}


body{
  height: 100vh;
  background: linear-gradient(to top, #D4DBDB, #DEDBD1 75%, #249788 75%);
}

.container{
  max-width: 90%;
  height: 650px;
  width: 1200px;
  /* background-color: blue; */
  margin: 0 auto;
  margin-top: 30px;
  border-right: 10px solid white;
}

.left{
  background-color: red;
  height: 650px;
  width: 25%;
  border-right: 1px solid transparent;
}

.right{
  height: calc(100% - 70px - 70px);
  width: 75%;
  
}

.header-top, .footer{
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 70px;
  background-color: aqua;
}

.chat{
  height: 100%;
  background-image: url(../img/mine.jpg);
}

.notifications{
  height: 70px;
  background-color: blue;
}

.ricerca-chat{
  padding: 10px 30px;
  width: 80%;
  border: 0;
  margin-top: 2px;
}

.container-input{
  background-color: white;
  height: 40px;
}

.icon{
  width: 20%;
  background-color: white;
  color: grey;
  padding: 7px 20px;
  font-size: 20px;
}

.icon i{
  padding-top: 4px;
  cursor: pointer;
}